<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>

    {{!-- Styles --}}
    {{>styles}}
</head>

<body>
    {{>header}}
    <div class="container pg-contents mt-5">
        <div class="row-fluid">
            <h1>{{title}}</h1>
            <p>This website is created by Deepak Guptha (vzan2012). It uses data from mapbox.com and darksky.net</p>
            <p>
                <img src="/img/robot1.png" class="img-myself" alt="Myself !!!" />
                <br />
                <strong>Created by:</strong> {{name}}
            </p>
            <a href="/">Back to Home Page</a>

        </div>
    </div>
    {{>footer}}

    {{!-- Scripts  --}}
    {{>scripts}}
</body>

</html>