<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>

    {{!-- Styles --}}
    {{>styles}}

</head>

<body>
    {{>header}}

    <div class="container mt-5">
        <div class="row-fluid">
            <h1>{{title}}</h1>
            <p><strong>Beginner User:</strong> {{name}}</p>
            <a href="/about">Click here - About Page</a>
            {{>footer}}

        </div>
    </div>

    {{!-- Scripts  --}}
    {{>scripts}}
</body>

</html>